{% extends "basic.html" %}
{% block title %}IDR Studio{% endblock %}

{% load static %}

{% block head %}    
<link rel="stylesheet" href="{% static 'Studio/styles.css' %}">
{% endblock %}
{% block content %}
    <main>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        {% for slide in slideshow %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="/static/{{ slide.image }}" class="d-block w-100 h-100" alt="{{ slide.description }}">
          </div>
        {% endfor %}
      </div>
    </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </main>
{% endblock %}   